---
import { getCollection } from "astro:content";
import BaseLayout from "$/layouts/BaseLayout.astro";
import GameForm from "$/components/GameForm";
import ThemeSelect from "$/components/ThemeSelect.astro";

const games = await getCollection("games");
---

<BaseLayout>
  <div class="relative container">
    <div
      class="absolute top-6 right-10 cursor-pointer rounded-lg bg-white/80 text-black">
      <ThemeSelect />
    </div>
    <section
      class="border-border bg-section my-12 flex flex-col items-center justify-center rounded-xl border-4 p-12">
      <h1 class="text-heading text-3xl font-bold">
        Which of these games do you like?
      </h1>
      <GameForm games={games} client:load />
    </section>
  </div>
</BaseLayout>
