---
import "$/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Firstlook.gg</title>
  </head>
  <body class="bg-background overflow-x-clip">
    <slot />
  </body>
</html>
