---
import "$/styles/global.css";
import ThemeManager from "$/components/ThemeManager.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Firstlook.gg</title>
    <ThemeManager defaultTheme="auto" />
  </head>
  <body class="bg-background overflow-x-clip">
    <slot />
  </body>
</html>

<style is:global>
  :root[data-theme="light"] {
    body {
      background-color: var(--color-section) !important;
    }

    section {
      background-color: var(--color-background) !important;
    }
  }
  :root[data-theme="dark"] {
    body {
      background-color: var(--color-background) !important;
    }

    section {
      background-color: var(--color-section) !important;
    }
  }
</style>
